html {
    background-color:rgba(193, 154, 216, 0.2);
}


header{
  background-color: rgba(114, 138, 155, 0.2);  
}

.title{
color:white;
text-align: center;

}

main{
    text-align: center;
}